@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-size: 30px;
    /* overflow-x: hidden;  */
}

.image img{
    width: 100%;
    height: 80%;  
    background-size: cover; 
      background-repeat: no-repeat;
}

header{
    height: 30vh;
    color: rgb(204, 78, 109);
    border: 10px solid rgb(8, 142, 175);
    background: rgba(67, 164, 202, 0.3);
    padding: 25px 0;
    font-family: 'Flamenco', cursive;
}

header h2{
    text-align: center;
}

.row{
    width: 600px;
    height: 300px;
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: space-between; */
    margin: -610px 0 40px 53%;
    padding: 5px;
}

.col-2{
   flex-basis: 50%;
   height: 100%;
   /* border: 2px solid green; */
   padding: 10px; 
   justify-content: space-between;
}
.col-2 a{
    text-decoration: none;
    font-size: 25px;;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px 20px;
    transition: 0.4s;
}

.col-2 a:hover{
    
    background: black;
    color: rgb(250, 249, 249);
}

.col-2 img{
  width: 80%;
  height: 70%;
  border: 2px solid rgb(0, 0, 0);
  margin-left: 27px;
  border-radius: 20px;
  
}
.col-2 h4{
    width: 65%;
    /* border: 2px solid rgb(0, 0, 0); */
    text-align: center;
    margin: 30px 0 0 52px;   
}

.div2{
    margin-top: 120px;
    width: 550px;
    height: 570px;
    /* border: 2px solid rgb(255, 0, 0); */
    margin-left: 40px;
    color: rgb(0, 0, 0);
    padding: 24px 30px;
    box-shadow: rgba(0,0,0,0.19) 0 10px 20px, rgba(0,0,0,0.23) 0 6px 6px;
    border-radius: 20px;
}
.div2 h2{
    /* border: 2px solid wheat; */
    font-size: 42px;
    text-align: center;
}
.div2 h3{
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    /* border: 2px solid wheat; */
    margin-bottom: 30px;
    text-decoration: underline;
}

.div2 p{
    font-size: 20px;
}

.contact{
    padding: 30px 0 0 0;
    width: 500px;
    height: 530px;
    margin-left: 750px;
    margin-top: 100px;
    /* border: 2px solid red; */
    box-shadow: rgba(0,0,0,0.19) 6px 10px 20px, rgba(0,0,0,0.23) 6px 6px 6px;
    border-radius: 20px;
}

.contact h2{
    font-size: 32px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
/*table Heading*/
.table{
    width: 330px;
    height: 390px;
    /* margin-top:25px;
    margin-left: 50px; */
    background-color: white;
    /* border: 2px solid red; */
    margin: 20px auto;
    padding: 15px auto;
    text-align: center;
   
}
.tb{
    background:  rgba(38, 47, 172, 0.38);
    text-align: center;
    border-radius: 20px;
    width: 270px;
    height: 30px;
    padding: 18px 0;
    border: none;
    outline: none;
    font-size: 0.94rem;
    /* border: 2px solid red; */
    /* justify-content: space-around; */
    
}
.tblm{
    background:  rgba(38, 47, 172, 0.38);
    text-align: center;
    border-radius: 20px;
    width: 270px;
    height: 100px;
    padding: 16px 0;
    border: none;
    outline: none;
    font-size: 0.94rem;
    /* border: 2px solid red; */
    /* justify-content: space-around; */
    
}

.submit{
    margin: 33px 0 0 0;
    width: 100px;
    height: 36px;
    padding: 10px ;
    background:  rgba(25, 34, 158, 0.98);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: rgba(255, 255, 255);
}
.submit:hover{
    background:  rgba(38, 47, 172, 0.84); 
}
/* .massage_h1{
    padding-left: 15px;
    font-size: 30px;
    color: black;
    border-top: 3px solid black;    
}
.id_h1{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    color: black;
    border-top: 3px solid black;
    border-left: 3px solid black;
}
.name_h1{
    padding-left: 15px;
    font-size: 30px;
    color: black;
    border-top: 3px solid black;
}
.email_h1{
    padding-left: 55px;
    font-size: 30px;
    color: black;
    border-top: 3px solid black;
    
}
.contact_h1{
    padding-left: 55px;
    padding-right: 20px;
    font-size: 30px;
    color: black;
    border-top: 3px solid black;
} */

/*/////Inner Table Heading/////*/
/* th{
    padding-left: 100px;
    
    border-bottom: 3px solid black;
    
    border-right: 3px solid black;
} */

/* .massage_h{
    padding-top: 8px;
    padding-bottom: 8px;
    border-right: 3px solid black;
    padding-right: 35px;
    
    padding-left: 35px;
    
}
.id_h{
    padding-left: 10px;
    border-right: 3px solid black;
    padding-right: 15px;
    border-left: 3px solid black;
}
.name_h{
    padding-left: 15px;
    border-right: 3px solid black;
    padding-right: 35px;
}
.email_h{
    padding-left: 55px;
    border-right: 3px solid black;
    padding-right: 35px;
}
.contact_h{
    padding-left: 55px;
    border-right: 3px solid black;
    padding-right: 35px;
    
} */


.footer{
    margin-top: 450px;
    padding: 24px 0;
    text-align: center;
    background: cyan;
    font-family: 'Flamenco', cursive;
    font-size: 18px;
}
