
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    /* overflow-x: hidden; */
    color: black;
    font-family: 'Flamenco', cursive;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(image/school-work.jpg);
    height: 117vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav-pills{
   display: flex; 
   /* border: 2px solid rgb(17, 17, 17); */
   padding: 13px 7px 13px 650px;
   text-align: center;
   background: #27302a;
   /* position: fixed; */
}
.nav-item{
    flex-direction: column;
    padding: 11px 14px;
    margin-left: 70px;
    /* border: 2px solid green; */
    list-style-type: none;   
    
}
.nav-item a{
    list-style-type: none;
    font-size: 1.9rem;
    /* border: 2px solid red; */
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}
.active{
    background: green;
    border-radius: 10px;
}
.self{
    width: 470px;
    height: 400px;
    /* border: 2px solid red; */
    margin: 6% 30% 0 56%;
    padding: 20px;
    background-color: rgba( 255 ,245, 205, 0.6);
    box-shadow: rgba(255, 255, 255, 0.19) 0 10px 20px, rgba(0,0,0,0.23) 0 6px 6px;
    border-radius: 20px;
    
}
.self h1{
    /* border: 2px solid red; */
    margin-top: 15px;
    text-align: center;
}

.form1{
    width: 370px;
    height: 250px;
    padding: 20px 0 0 0;
    /* margin-left:500px; */
    color:white;
    margin: 50px auto 0;
    font-size: 25px;
    
    text-align: center;
}

.form1 th{
    color: rgb(0, 0, 0);
    height: 5px;
    text-shadow: 1px 1px rgb(14, 13, 13);
    
} 
.field1{
    margin-bottom: 18px;
    background-color: rgb(238, 238, 229);
    padding: 17px 12px;
    border: none;
    outline: none;
    /* border: 2px solid red; */
}
.submit{
    width: 120px;
    height: 40px;
    background: rgb(199, 199, 199);
    border: 1px solid black;
    color: black;
    border-radius: 20px;
    background: rgb(10, 172, 59 , 0.3);
    cursor: pointer;
    font-size: 1rem;
    transition: 0.4s;

    
}
.submit:hover{
    background: #0faf3f;
}

.footer{
    margin-top: 350px;
    padding: 24px 0;
    color: rgba(0,0,0,0.99);
    text-align: center;
    background: cyan;
    font-family: 'Flamenco', cursive;
    font-size: 18px;
}